<div class="dashboard-container">
  <div class="row">
    <!--  form -->
    <div class="col-md-6 col-xs-12">
      <form name="datesForm" ng-submit="searchDays(daysForm)"  class="form-horizontal form-user">
        <h3> Select dates to render a calendar</h3>
        <div class="row">
          <div class="col-md-4 ">
            <div class="form-group">
              <label for="" class="control-label"> Start Date </label>
              <input type="date" class="form-control" placeholder="Start Date" ng-model="daysForm.date">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="" class="control-label"> Number of days</label>
              <input type="number" class="form-control" placeholder="Number of days" ng-model="daysForm.count">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="" class="control-label"> Country Code</label>
              <input type="text" class="form-control" placeholder="Country Code">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button type="submit" class="btn btn-default m-t-md" ng-disabled="userForm.$invalid" ng-model="daysForm.code"> Search </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Calendar -->
    <div class="col-md-6 col-xs-12">
      <h3> Calendar</h3>
      <div class="calendar">
        <div class="calendar-container">
          <div class="calendar-days-names">
            <span class="day" ng-repeat="date in daysName track by $index">
              {{date.name}}
            </span>
          </div>
          <div class="calendar-month">
            <p>August 2008</p>
          </div>
          <div class="calendar-days-grid">
            <div class="calendar-days-grid-day" ng-repeat="weeks in daysGrid track by $index" >
              <span class="day" ng-repeat="dayInfo in weeks track by $index">
                {{ dayInfo.day }}
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
